.leftContainer {
    background-color: #000;
    display: flex;
    align-items: center;      /* centrage vertical */
    justify-content: center;  /* centrage horizontal */
    border-radius: 0px 300px 0px 0px;
    border-right: 10px solid #f8b909;
}

.leftContainer p {
    color: #f5f5f5;
}


.rightContainer {
    background-color: #fff;
    display: flex;
    align-items: center;      /* centrage vertical */
    justify-content: center;  /* centrage horizontal */
}

.rightContainer img{
    width: 100px;
    height: auto;
}